*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(241, 240, 235);
}

.header{
    width: 100%;
    height: 85px;
    background-color: rgb(36, 36, 36);
}

#logo{
    display: inline-block;
    font-size: 28px;
    font-family: 'Noto Sans JP', sans-serif;
    color:rgb(194, 164, 100);
    text-decoration: none;
}

.opClass{
    display: inline-block;
    margin-left: 450px;
}

.options{
    display: inline-block;
    text-decoration:none;
    font-size: 18px;
    margin-left: 30px;
    color:  rgb(146, 146, 146);
    border: 2px solid rgb(146, 146, 146, 0);
    transition: .3s;
}

.options:hover{
    border-bottom: 2px solid;
    color:  rgb(182, 172, 150);
}

.headContent{
    margin-left: 90px;
    padding-top: 18px;
}

.headIcon{
    display: inline-block;
    text-decoration:none;
    margin-left: 10px;
    font-size: 18px;
    margin-left: 30px;
    color:  rgb(146, 146, 146);
    border: 2px solid rgb(146, 146, 146, 0);
    transition: .3s;
}

.headIcon:hover{
    color:  rgb(230, 212, 175);
}

.mainTop{
    width: 100%;
    height: 400px;
    background-color: rgb(206, 197, 180);
}

.crs{
    height: 800px;
}

.crs img{
    display: block;
    width: 160px;
    height: 160px;
}

.highlight1, .highlight2, .highlight3, .highlight4, .highlight5{
    display: flex;
    position: relative;
    width: 550px;
    height: 160px;
    margin-left: 332px;
    top: 80px;
    background-color: rgb(230, 230, 230);
    
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



/*Textos do beat em destaque*/
#hlDest{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 8px;
    color: rgb(29, 29, 29);
}

#hlTitle{
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 8px;
    text-decoration: none;
    color: rgb(29, 29, 29);
    transition: .3s;
}

#hlTitle:hover{
    color: rgb(122, 121, 116);
}


/*Bot천es de 'play' e 'pause'*/
.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
    opacity: 0.6;
    transition: .3s;

}

.mejs-controls .mejs-button button:hover {
    opacity: 1;
}
 
.mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button {
    position: relative;
    width: 50px;
    height: 50px;
    top: -15px;
    left: -108px;
    background: transparent url(../assets/images/play.svg);
    background-color: rgb(224, 224, 224);
    border: 3px solid rgb(224, 224, 224);
    border-radius: 50px;
}
 
.mejs-controls .mejs-pause button { 
    background: transparent url(../assets/images/pause.svg); 
    background-color: rgb(224, 224, 224);
    border: 3px solid rgb(224, 224, 224);
    border-radius: 50px;
}
 
.mejs-controls .mejs-mute button,
.mejs-controls .mejs-unmute button {
    position: relative;
    width: 20px;
    height: 20px;
    left: 40px;
    top: -32px;
    border: 0px;
    background: transparent url(../assets/images/volume.svg);
    background-repeat: no-repeat;
    transition: .3s;
}
 
.mejs-controls .mejs-unmute button { background: transparent url(../assets/images/mute.svg); }


.mejs-controls .mejs-unmute button:hover {
    background: transparent url(../assets/images/muteFade.svg)
    
}

.mejs-controls .mejs-mute button:hover{
    background: transparent url(../assets/images/volumeFade.svg)
    rgb(80, 80, 80)
}


/*SLider de Volume*/
.mejs-controls div.mejs-horizontal-volume-slider {
    position: absolute;
    top: 90px;
    left: 230px;
    cursor: pointer;
}
 
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    width: 134px;
    height: 8px;
    background: #212227;
 
    -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
    -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
    box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
 
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    position: absolute;
    width: 0;
    height: 6px;
    top: 1px;
    left: 1px;
    background-color:rgb(182, 172, 150);
 
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*Barra de progresso*/
.mejs-controls div.mejs-time-rail { width: 550px; }
 
.mejs-controls .mejs-time-rail span {
    position: absolute;
    display: block;
    width: 550;
    height: 6px;
    left: 0;
    bottom: 0;
    cursor: pointer;
 
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
}
 
.mejs-controls .mejs-time-rail .mejs-time-total { background: #999999; }
 
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    width: 0;
    background: #cccccc;
}
 
.mejs-controls .mejs-time-rail .mejs-time-current {
    width: 0;
    background: rgb(199, 181, 143);
}

/*Bot찾o dos sliders*/
.mejs-controls .mejs-time-rail .mejs-time-handle,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
    position: absolute;
    display: block;
    width: 12px;
    height: 14px;
    top: -4px;
    background-color: rgb(180, 180, 180);
    border-radius: 50px;
    /*background: url(../img/handle.png) no-repeat;*/
}

 
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle { top: -2px; }

/*Display do tempo*/
.mejs-controls .mejs-time-rail .mejs-time-float {
    position: absolute;
    display: none;
    width: 35px;
    height: 20px;
    top: -26px;
    margin-left: -17px;
    background-color:rgb(70, 70, 70);
}
 
.mejs-controls .mejs-time-rail .mejs-time-float-current {
    width: 33px;
    display: block;
    left: 2;
    top: 4px;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #d1d1d1;
    text-align: center;
}


.banner1{
    width: 100%;
    height: 590px;
    background: url(../assets/images/mixer.png);
}

.further1{
    color:rgb(228, 228, 228);
    margin-left: 70px;
    padding-top: 70px;
    width: 500px;
}

.mainMid h1{
    font-size: 50px;
}

.mainMid span{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
}


.banner2{
    display: flex;
}

.further2 {
    color:rgb(66, 66, 66);
    width: 500px;
    margin-left: 80px;
    padding-top: 130px;
}

.footer{
    width: 100%;
    height: 120px;
    background-color: rgb(36, 36, 36);
}

#footLogo{
    display: inline-block;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    color:rgb(194, 164, 100);
    text-decoration: none;
    margin-top: 30px;
    margin-left: 65px;
}

#copyr{
    display: block;
    color: rgb(88, 88, 88);
    font-size: 15px;
    margin-left: 65px;
    margin-top: 6px;
}

#orderLink{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    width: 200px;
    height: 35px;
    margin-top: 40px;
    padding-left: 8px;
    padding-top: 7px;
    background-color: rgb(46, 46, 46);
    color:rgb(226, 226, 226);
    transition: .3s;
}

#orderLink:hover{
    background-color: rgb(189, 166, 116);
    color:rgb(238, 238, 238);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(241, 240, 235);
}

.header{
    width: 100%;
    height: 85px;
    background-color: rgb(36, 36, 36);
}

#logo{
    display: inline-block;
    font-size: 28px;
    font-family: 'Noto Sans JP', sans-serif;
    color:rgb(194, 164, 100);
    text-decoration: none;
}

.opClass{
    display: inline-block;
    margin-left: 450px;
}

.options{
    display: inline-block;
    text-decoration:none;
    font-size: 18px;
    margin-left: 30px;
    color:  rgb(146, 146, 146);
    border: 2px solid rgb(146, 146, 146, 0);
    transition: .3s;
}

.options:hover{
    border-bottom: 2px solid;
    color:  rgb(182, 172, 150);
}

.headContent{
    margin-left: 90px;
    padding-top: 18px;
}

.headIcon{
    display: inline-block;
    text-decoration:none;
    margin-left: 10px;
    font-size: 18px;
    margin-left: 30px;
    color:  rgb(146, 146, 146);
    border: 2px solid rgb(146, 146, 146, 0);
    transition: .3s;
}

.headIcon:hover{
    color:  rgb(230, 212, 175);
}

.mainTop{
    width: 100%;
    height: 400px;
    background-color: rgb(206, 197, 180);
}

.crs{
    height: 800px;
}

.crs img{
    display: block;
    width: 160px;
    height: 160px;
}

.highlight1{
    display: flex;
    position: relative;
    width: 550px;
    height: 160px;
    margin-left: 332px;
    top: 80px;
    background-color: rgb(230, 230, 230);
    
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



/*Textos do beat em destaque*/
#hlDest{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 8px;
    color: rgb(29, 29, 29);
}

#hlTitle{
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 8px;
    text-decoration: none;
    color: rgb(29, 29, 29);
    transition: .3s;
}

#hlTitle:hover{
    color: rgb(122, 121, 116);
}

.buyHlDiv{
    margin-left: 42px;
    margin-top: 25px;
}
#hlBuySpan{
    display: inline-block;
    font-size: 18px;
    margin-bottom: 8px;
}

#hlBuy{
    display: block;
    text-decoration: none;
    width: 110px;
    height: 30px;
    background-color:rgb(41, 41, 41);
    color: white;
    padding-left: 19px;
    padding-top: 6px;
    transition: .3s;
}

#hlBuy:hover{
    background-color: rgb(189, 166, 116);
    color:rgb(238, 238, 238);
}

/*Bot천es de 'play' e 'pause'*/
.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
    opacity: 0.3;
    transition: .3s;

}

.mejs-controls .mejs-button button:hover {
    opacity: 1;
}
 
.mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button {
    position: relative;
    width: 35px;
    height: 35px;
    top: -18px;
    left: -53px;
    background: transparent url(../assets/images/play.svg);
    background-color: rgb(224, 224, 224);
    border: 3px solid rgb(224, 224, 224);
    border-radius: 50px;
}
 
.mejs-controls .mejs-pause button { 
    background: transparent url(../assets/images/pause.svg); 
    background-color: rgb(224, 224, 224);
    border: 3px solid rgb(224, 224, 224);
    border-radius: 50px;
}
 
.mejs-controls .mejs-mute button,
.mejs-controls .mejs-unmute button {
    position: relative;
    width: 15px;
    height: 15px;
    left: 22px;
    top: -28px;
    border: 0px;
    background: transparent url(../assets/images/volume.svg);
    background-repeat: no-repeat;
    transition: .3s;
}
 
.mejs-controls .mejs-unmute button { background: transparent url(../assets/images/mute.svg); }


.mejs-controls .mejs-unmute button:hover {
    background: transparent url(../assets/images/muteFade.svg)
    
}

.mejs-controls .mejs-mute button:hover{
    background: transparent url(../assets/images/volumeFade.svg)
    rgb(80, 80, 80)
}


/*SLider de Volume*/
.mejs-controls div.mejs-horizontal-volume-slider {
    position: absolute;
    top: 45px;
    left: 115px;
    cursor: pointer;
}
 
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    width: 134px;
    height: 6px;
    background: #212227;
 
    -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
    -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
    box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
 
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    position: absolute;
    width: 0;
    height: 4px;
    top: 1px;
    left: 1px;
    background-color:rgb(182, 172, 150);
 
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*Barra de progresso*/
.mejs-controls div.mejs-time-rail { width: 550px; }
 
.mejs-controls .mejs-time-rail span {
    position: absolute;
    display: block;
    width: 1020;
    height: 4px;
    left: 0;
    bottom: 0;
    cursor: pointer;
 
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
}
 
.mejs-controls .mejs-time-rail .mejs-time-total { background: #999999; }
 
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    width: 0;
    background: #cccccc;
}
 
.mejs-controls .mejs-time-rail .mejs-time-current {
    width: 0;
    background: rgb(199, 181, 143);
}

/*Bot찾o dos sliders*/
.mejs-controls .mejs-time-rail .mejs-time-handle,
  .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
    position: absolute;
    display: block;
    width: 10px;
    height: 12px;
    top: -4px;
    background-color: rgb(180, 180, 180);
    border-radius: 50px;
    /*background: url(../img/handle.png) no-repeat;*/
}

 
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle { top: -2px; }

/*Display do tempo*/
.mejs-controls .mejs-time-rail .mejs-time-float {
    position: absolute;
    display: none;
    width: 35px;
    height: 20px;
    top: -26px;
    margin-left: -17px;
    background-color:rgb(70, 70, 70);
}
 
.mejs-controls .mejs-time-rail .mejs-time-float-current {
    width: 33px;
    display: block;
    left: 2;
    top: 4px;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #d1d1d1;
    text-align: center;
}


.banner1{
    width: 100%;
    height: 590px;
    background: url(../assets/images/mixer.png);
}

.further1{
    color:rgb(228, 228, 228);
    margin-left: 70px;
    padding-top: 70px;
    width: 500px;
}

.mainMid h1{
    font-size: 50px;
}

.mainMid span{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
}


.banner2{
    display: flex;
}

.further2 {
    color:rgb(66, 66, 66);
    width: 500px;
    margin-left: 80px;
    padding-top: 130px;
}

.footer{
    width: 100%;
    height: 120px;
    background-color: rgb(36, 36, 36);
}

#footLogo{
    display: inline-block;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    color:rgb(194, 164, 100);
    text-decoration: none;
    margin-top: 30px;
    margin-left: 65px;
}

#copyr{
    display: block;
    color: rgb(88, 88, 88);
    font-size: 15px;
    margin-left: 65px;
    margin-top: 6px;
}

#orderLink{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    width: 200px;
    height: 35px;
    margin-top: 40px;
    padding-left: 8px;
    padding-top: 7px;
    background-color: rgb(46, 46, 46);
    color:rgb(226, 226, 226);
    transition: .3s;
}

#orderLink:hover{
    background-color: rgb(189, 166, 116);
    color:rgb(238, 238, 238);
}


/*Tracks*/

.tracks h1{
    font-size: 45px;
    margin-left: 550px;
    margin-top: 60px;

}

.tracksContent{
    margin-top: 90px;
}

.track1{
    display: flex;
    position: relative;
    width: 1020px;
    height: 70px;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(230, 230, 230);
    
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#tTitle{
    display: block;
    font-size: 25;
    font-weight: bold;
    margin-left: 20px; 
    margin-top: 5px;
    text-decoration: none;
    color: rgb(29, 29, 29);
    transition: .3s;
}

#tTitle:hover{
    color: rgb(122, 121, 116);
}
.tContent{
    width: 450px;
}

.tContentRight{
    display: flex;
}

#scale{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    position: relative;
    top: -5px;
}

#bpm{
    display: block;
    position:relative;
    font-size: 18px;
    margin-left: 170px;
    font-weight: bold;
    top: -25px;
}

.buyTrack{
    margin-top: 20px;
    margin-left: 90px;
}

#trackBuyButton{
    display: block;
    text-decoration: none;
    width: 110px;
    height: 30px;
    background-color:rgb(41, 41, 41);
    color: white;
    padding-left: 19px;
    padding-top: 6px;
    transition: .3s;
    border-radius: 8px;
}

#trackBuyButton:hover{
    background-color: rgb(189, 166, 116);
    color:rgb(238, 238, 238);
}


/*Contato*/

#instaIcon{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    margin-left: 200px;
    padding-left: 8px;
    padding-top: 5px;
    background-color: rgb(46, 46, 46);
    color:rgb(226, 226, 226);
    transition: .3s;
}

#instaIcon:hover{
    background-color: rgb(189, 166, 116);
    color:rgb(238, 238, 238);
}

#beatsIcon{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    margin-left: 200px;
    padding-left: 6px;
    padding-top: 5px;
    background-color: rgb(46, 46, 46);
    color:rgb(226, 226, 226);
    transition: .3s;
}

#beatsIcon:hover{
    background-color: rgb(189, 166, 116);
    color:rgb(238, 238, 238);
}

#beatstars{
    width: 60px;
    height: 60px;
}

#soundIcon{
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    margin-left: 200px;
    padding-left: 7px;
    padding-top: 11px;
    background-color: rgb(46, 46, 46);
    color:rgb(226, 226, 226);
    transition: .3s;
}

#soundIcon:hover{
    background-color: rgb(189, 166, 116);
    color:rgb(238, 238, 238);
}

#youtubeIcon{
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    margin-left: 200px;
    padding-left: 9px;
    padding-top: 12px;
    background-color: rgb(46, 46, 46);
    color:rgb(226, 226, 226);
    transition: .3s;
}

#youtubeIcon:hover{
    background-color: rgb(189, 166, 116);
    color:rgb(238, 238, 238);
}

.contato h1{
    margin-left: 500px;
    font-size: 75px;
    margin-top: 30px;
}

.contato{
    width: 100%;
    height: 500px;
}

.botao{
    display: flex;
    margin-top: 120px;
}


/*login*/

.container2{
    padding-top: 80px;
}

.loginDiv{
    width: 350px;
    height: 480px;
    background-color: rgb(202, 168, 126);
    margin: auto;
    border-radius: 4px;
    font-family: 'Noto Sans JP', sans-serif;

}

.loginDiv h1{
    display: inline-block;
    margin-left: 68px;
    margin-top: 50px;
}

.loginContent{
    margin-left: 30px;
    margin-top: 43px;
}

.userPass{
    display: inline-block;
    margin-bottom: 4px;
    font-weight: bold;

}

.loginContent input[type="text"] {
    width: 288px;
    height: 37px;
    outline: none;
    background-color: rgb(235, 221, 203);
    border: 2px solid rgb(187, 152, 106);
}

#pass{
    margin-top: 20px;
    
}

#entrar{
    width: 170px;
    height: 42px;
    background-color: black;
    color: rgb(214, 214, 214);
    border: 2px solid rgb(187, 152, 106,0);
    border-radius: 6px;
    margin-top: 40px;
    margin-left: 55px;
    transition: .3s;

}

#entrar:hover{
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.signDiv{
    margin-left: 138px;
    margin-top: 45px;
    font-size: 15px;
}

#inscrevaSe{
    display: block;
    color:black;
    text-decoration: none;
    margin-left: 37px;
    margin-top: 5px;
    transition: .3s;
}

#inscrevaSe:hover{
    color: white;
}

.container2{
    background-color: rgb(235, 224, 213);
}


